.footer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.social-networks {
    width: 168px;
    display: flex;
    justify-content: space-between;
}

.social {
    position: relative;
    width: 33px;
    height: 33px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    cursor: pointer;
}

.social:hover {
    background: rgba(255, 255, 255, 0.2);
}

.social-svg {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}